
html{

}

body{
  margin: 0;
}

ul {
  padding:0;
  list-style: none;
}

.desktop_menu {

    margin:0;
    background-color: black;
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0px 10px;
    color: #ffffff;
}

.desktop_menu li:not(:last-child):not(.push_left):not(:first-child):not(.center_me) {
  margin: 0px 20px;
}



.center_me {

  margin:auto;
}

.push_left{
  margin-right:auto
}

.push_right{
  margin-left:auto
}
.logo{
  height: 1.5em;
  margin:0;



  /*HERE STARTS THE STYLE SHEET FOR THE HAMBURGER DROP DOWN MENU*/
}
.hamburger_menu{
  display:flex;
  flex-direction: column;
  height:48px;

}

.hamburger_menu li{
  margin:auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

.hamburger_menu .center_me{
    font-size:1.5em;
}



 /*STYLE SHEET FOR INTRO*/

.intro_div{
    background-repeat:no-repeat;
    background-image: url("./Introduction/test.jpg");
    background-size:cover;
    background-position: 50% 50%;
    overflow:hidden;
    height:200px;
    width:auto;
    position:relative;
    top:0;
    left:0;
    z-index:-10;
}


.z_me{

    position:relative;
    z-index:99;
}

.intro_title{
    display:flex;
    flex-direction: column;
    color:white;
    align-items: center;

}

.header{
    font-size:2em;
}

.sub_header{
    font-size:1.25em;
}

/*STYLE SHEET FOR ABOUT US*/
.body{
    text-align:center;
}

.body .subject{
    font-size:1.5em;
    text-decoration: underline;
    padding: 10px 0px;
}

/*STYLE SHEET FOR CONTACT US   */
.message{
    height:300px;
    width: 80%;
    margin:20px;
}






/*STYLE SHEET FOR FOOTER */

.footer .main{
    height:100px;
    background-color:purple;
    color:white;
    display:flex;
    flex-direction: row;


}

.footer ul{
    width:100%;
    display:flex;
    align-items: center;
    padding:0px 10px;

}
.footer li{
    padding:0 10px;



}
.footer li:not(:first-child):not(:last-child){
 margin:auto;
}

.footer li:first-child{

    flex:1;
}

.footer li:last-child{
    margin-right:10px;
}


.social{
    height:2.5em;
}
.signature{
    background-color: black;
    color:white;
    text-align: center;
    font-size:.5em;
}
