
html{
    background-color:grey;
}

body{
  margin: 0;
}

ul {
  padding:0;
  list-style: none;
}

.desktop_menu {
    background-color: black;
    display: flex;
    height: 46px;
    align-items: center;
    padding: 0 10px;
    border: 1px solid rgba(238,238,238 ,1);
    border-radius: 5px;
    color: #ffffff;
}

.desktop_menu li:not(:last-child):not(.push_left):not(:first-child):not(.center_me) {
  margin-right: 40px;
}



.center_me {

  margin:auto;
}

.push_left{
  margin-right:auto
}

.push_right{
  margin-left:auto
}
.logo{
  height: 1.5em;
  margin:0;



  /*HERE STARTS THE STYLE SHEET FOR THE HAMBURGER DROP DOWN MENU*/
}
.hamburger_menu{
  display:flex;
  flex-direction: column;
  height:48px;

}

.hamburger_menu li{
  margin:auto;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;


}


 /*STYLE SHEET FOR INTRO*/

.intro_div{
    background-repeat:no-repeat;
    background-image: url("./Introduction/water_fall.jpg");
    background-size:100%;
    overflow:hidden;
    height:300px;
    width:100%;
    position:relative;
    top:0;
    left:0;
    z-index:-10;
    background-position:50% 80%;
}



.place_holder{
    height:500px;
    background-color:silver;
    border-radius:10px;
    position:absolute;
    top:300px;
}


.z_me{
    position:relative;
    z-index:99;
}



